body {
  font-family: sans-serif;
  padding: 20px;
  background: #121212;
  color: #f0f0f0;
}

.match {
  border: 1px solid #666;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: #1e1e1e;
}
