body {
  font-family: sans-serif;
  padding: 20px;
  background: #121212;
  color: #f0f0f0;
}

h1 {
  margin-bottom: 20px;
  color: #ffcc00;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #ffcc00;
}

.match {
  border: 1px solid #666;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #1e1e1e;
}

em {
  color: #888;
}
